body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .resume-container {
    margin: 20px;
  }
  
  .resume-header {
    text-align: center;
    padding: 20px;
    background-color: #212f3c;
    color: #057fe3;
  }
  
  .resume-header h1 {
    font-size: 2.5rem;
    color: #057fe3
    ;
  }
  
  h2 {
    color: #16a085;
    margin-top: 20px;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #2980b9;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
  }
  